option_settings:
  aws:elb:listener:8443:
    ListenerProtocol: HTTPS
    SSLCertificateId: 
    InstancePort: 80
    InstanceProtocol: HTTP
  aws:elb:listener:80:
    ListenerEnabled: false	
  aws:elb:healthcheck:
	Target:https:8443/?cmd=etd&orig=Fremont
	HealthyThreshold:2
	Interval:300
	UnhealthyThreshold:10